@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@600&family=Gafata&family=Major+Mono+Display&family=Monoton&family=Rajdhani:wght@300&family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400&display=swap');


*{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: #1e1c1c;
    overflow-x: hidden;
}

:root {
    --primary-color: #1E1C1C;
    --secondary-color: #81D959;
    --accent-color: #FFFDFA;
}


#main-container img{
    position: relative;
    width: 100%;
    height: 51vw;
}


#main-container h2{
    position: absolute;
    top: 18vw;
    font-size: 5.5vw;
    color: white;
    font-family: 'Big Shoulders Stencil Display', cursive;
    left: 65vw;
}

#main-container h5{
    position: absolute;
    top: 34vw;
    font-size: 1.3vw;
    color: #81D959;
    font-family: 'Big Shoulders Stencil Display', cursive;
    left: 78vw;
}
#article-section{
    color:rgb(230, 230, 230);
    font-size: 1.8vmin;
    font-family: 'Rajdhani', sans-serif;
    font: 500;
    margin-left: 3vw;
    margin-right: 3vw;
}

#article-section > h4{
    font-size: 1.2vw;
}

#article-section > h4 > a{
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    color: #81D959;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 2vh 2vw;
    border-top: 0.1vw solid white;
}

h3, #vision1 > h1, #vision2 > h1{
    font-size: 2.5vw;
    color: #81D959;
    font-family: 'Assistant', sans-serif;
    text-align: center;
}

#vision1, #vision2{
    width: 50%;
}

#last-container{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.89);
    max-width: 50vw;
    margin: auto;
    border-radius: 3vw;
    row-gap: 5vw;
    padding: 2vw;
    transition: 0.42s;
}

#last-container:hover{
    box-shadow: .6vh .3vw 0 var(--secondary-color);
}

#last-container > div > img{
    width: 6vw;
    height: 6vw;
    transition: 0.75s;
}

#last-container > div > img:hover{
    transform: rotateY(180deg) scale(1.2);
}

#last-container > div > h4{
    font-size: 1vw;
    font-family: 'Rajdhani', sans-serif;
    font-weight:bolder;
}

#footer-text{
    font-size: 1.2vw;
    font-family: 'Rajdhani';
}

#footer-icons{
    display: flex;
    justify-content: space-between;
}

#social-icons{
    height: 5vh;
    transition: 0.2s;
    margin-left: 2.7vw;
}

#social-icons:hover{
    filter: none;
    transform: rotateZ(-15deg) scale(1.1);
}

.vision{
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    height: 15vw;
}

#vision2 > p, #vision1 > p{
    font-size: 1.2vw;
    color: var(--accent-color);
    text-decoration: none;
    font-family: 'Rajdhani';
    font-weight: 800;
    padding: 0.28vw;
    list-style: none;
}

#vision2 > h1, #vision1 > h1,#article-section > h4 > a{
    width: 28vw;
    margin: auto;
    transition: 0.42s;
}

#vision2 > h1:hover , #vision1 > h1:hover, #article-section > h4 > a:hover{
    background-color: var(--accent-color);
    color: var(--primary-color);
}
@media only screen and (max-width:750px) {
    .vision{
        margin-bottom: 10vw;
    }
    #vision2 > p, #vision1 > p, #article-section > h4,#last-container > div > h4,#footer-text{
        font-size: 2.3vw;
    }
    h3, #vision1 > h1, #vision2 > h1{
        font-size: 6vw;
    }
    #last-container{
        max-width: 100vw;
        height: 75vw;
    }

    #last-container > div > img{
        width: 11vw;
        height:11vw;
    }
    #social-icons{
        width: 5.5vw;
        height: 5.5vw;
    }

    #footer-text{
        font-size: 2.2vw;
    }

    footer{
        margin-top: 15vw;
    }
    #main-container h5{
        font-size: 4vw;
        top: 90vw;
        left: 48vw;
    }

    #main-container h2{
        font-size: 12vw;
        left: 25vw;
        top: 54vw;
    }
    #main-container img{
        height: 35vh;
    }
}